.git/
.github/
target/
snapshots/
tests/
benches/
evals/
scripts/
docs/
dist/
Dockerfile.production
**/.DS_Store
*.log

data/glove.50d.fifu
data/nlprule/
data/snapshots/
data/tagger/classes.txt
data/tagger/weights.json
